In [1]:
from injest_vcf import injest_vcf
from genotype2 import GenotypeHAIL
from sample_anno import SampleAnnotation
import pandas as pd
import glob

## Import VCFs as MatrixTables

In [2]:
prokisch_files = glob.glob('/s/project/variantDatabase/standardizedVcf/prokisch_latest/*.vcf.gz')
len(prokisch_files)

884

In [3]:
#injest_vcf(prokisch_files)

# Register VCFs in SampleAnnotation

In [4]:
sample_anno = SampleAnnotation()
#sample_anno.register_sample(prokisch_files)
sample_anno.anno

,sample_idx,file_path,file_name,sample_id,dataset,read_status
0,1,/s/project/variantDatabase/standardizedVcf/pro...,104250,104250,None,0
1,2,/s/project/variantDatabase/standardizedVcf/pro...,104512,104512,None,0
2,3,/s/project/variantDatabase/standardizedVcf/pro...,104542,104542,None,0
3,4,/s/project/variantDatabase/standardizedVcf/pro...,105189,105189,None,0
4,5,/s/project/variantDatabase/standardizedVcf/pro...,105196,105196,None,0
...,...,...,...,...,...,...
882,883,/s/project/variantDatabase/standardizedVcf/pro...,EXT_JAP_PT1455,EXT_JAP_PT1455,None,0
883,884,/s/project/variantDatabase/standardizedVcf/pro...,EXT_WAR_001,EXT_WAR_001,None,0
884,885,/data/ouga/home/ag_gagneur/nonchev/code/varian...,test,NA00001,None,0
885,886,/data/ouga/home/ag_gagneur/nonchev/code/varian...,test,NA00002,None,0
886,887,/data/ouga/home/ag_gagneur/nonchev/code/varian...,test,NA00003,None,0

In [5]:
samples = sample_anno.anno['sample_id'].to_list()
samples[:10]

['104250',
 '104512',
 '104542',
 '105189',
 '105196',
 '105762',
 '106196',
 '106302',
 '106593',
 '110277']

## Variants

In [6]:
variants = pd.read_pickle('/data/nasif12/home_if12/nonchev/code/hail-db/db/var.df')
variants['pos'] = variants['start']
variants = variants.drop(['start', 'end'], axis=1)
variants[:5]

  chrom ref alt       pos
0     1   T   C  12846549
1     1   A   G  12846598
2     1   A   G  12846606
3     1   T   C  12846630
4     1   T   C  12846685

## GenotypeHAIL

In [7]:
gt = GenotypeHAIL()

In [8]:
len(gt._get_Tables_paths(samples))

885

In [11]:
%%time
gt.get_sequencingdepth(variants, samples[0])

CPU times: user 226 ms, sys: 18.4 ms, total: 245 ms
Wall time: 6.31 s

In [12]:
%%time
gt.get_sequencingdepth(variants, samples[:10])

CPU times: user 598 ms, sys: 44 ms, total: 642 ms
Wall time: 42.3 s

In [ ]:
%%time
gt.get_genotype(variants, samples[:100])

In [ ]:
%%time
gt.get_gtquality(variants, samples[:10]).sum()

In [ ]:
%%time
gt.get_sequencingdepth(variants, samples[:10]).sum()